:root{
  --primary-desaturated: hsl(0, 36%, 70%);
  --primary-soft: hsl(0, 93%, 68%);
  --neutral-dark-grey: hsl(0, 6%, 24%);
}


* {
	font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

header {
	/* width: 100vw; */
	min-width: 300px;
  height: 100vh;
  background-image: url("/images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.parent{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.c-1{
  padding: 4rem 7rem;
  justify-items: center;
  /* text-align:center; */
  /* margin-left: auto; */
}

.c-1 h1{
  margin-top: 10rem;
  overflow-wrap: break-word;
  text-transform: uppercase;
  font-size: 5rem;
  letter-spacing: .7rem;
}


#thin-heading{
  /* font-family: "Josefin Sans", sans-serif; */
  font-weight: 300;
  font-size: 5rem;
  color: var(--primary-desaturated);
}

.c-1 p{
  color: var(--primary-desaturated);
  margin-top: 0.5rem;
  line-height: 2;
}

.c-1 form{
  margin-top: 2rem;
}

.form-field{
  outline: none;
  width: 400px;
  height: 50px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding-left: 1.3rem;
  border-style: groove;
  border-color: whitesmoke;
}

.c-2 img{
  width: 100%;
}